<div class="row span8" style="margin-left:0px;">
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Win %</th>
    <th>Rating</th>
  </tr>

  <% @players.each do |player| %>
    <tr>
      <td><%= link_to player.name, :controller => 'players', :action => 'show', :id => player.id %></td>
      <td><%= player.wins %></td>
      <td><%= player.losses %></td>
      <% if player.wins + player.losses == 0 %>
        <td>00.0%</td>
      <% else %>
        <td><%= number_to_percentage((player.wins.to_f / (player.wins + player.losses).to_f).to_f * 100, :precision => 1) %></td>
      <% end %>
      <td><%= player.rating %></td>
    </tr>
  <% end %>
</table>
</div>
