<!DOCTYPE html>
<html>
<head>
  <title>Shuffleboard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type='text/css'>
  body {
    background-color: #FFFFFF;
  }
  @media handheld {
    .not-essential {
      display: none;
    }
  }
</style>
</head>
<body>
<div class="container">
<div class="row" style="margin-bottom: 10px">
  <div class="span3">
    <img src="<%= asset_path('cOsO.png') %>" style="padding-bottom: 5px;">
  </div>
  <div class="span6 offset1">
    <h1><span class="not-essential">ConnectSolutions </span>Shuffleboard</h1>
  </div>
</div>
<div class="row span8" style="margin-left:0px">
  <ul class="nav nav-tabs">
    <li class="<%= 'active' if params[:controller] == 'home' %>">
      <%= link_to 'Home', :controller => 'home', :action => 'index' %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'results' %>">
      <%= link_to 'report game', :controller => 'results', :action => 'new' %>
    </li>
    <li style="display: none" class="<%= 'active' if params[:controller] == 'data' %> not-essential">
      <%= link_to 'stats', :controller => 'data', :action => 'index' %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'players' %> not-essential">
      <%= link_to 'new player', :controller => 'players', :action => 'new' %>
    </li>
  </ul>
</div>

<%= yield %>
</div>
</body>
</html>
